<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div class="main">
    <form class="form" method="post" action="/login">
        <h1 class="heading">Please Login</h1>
        <p class="heading1"><%= locals.message %></p>
        <input class="h1" name="email" type="email" placeholder="  Enter email" value="<%=locals.email%>"/>
<input class="h2" name="password" type="password" placeholder="  Enter password"/>
    
    <button class="h3" type="submit">Login</button>
    
    
    </form>
</div>
    
</body>
</html>