<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logout</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div class="main">
    <form class="form" method="get" action="/logout">
        <h1 class="heading">Welcome back <%= name %> </h1>
    
    <button class="h3" type="submit">Logout</button>
    
    
    </form>
</div>
    
</body>
</html>