<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register now</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
    <div class="main">
    <form class="form" method="post" >
        <h1 class="heading">sign up first</h1>
        <input class="h1" name="name" type="text" placeholder="  Enter name"/>
        <input class="h1" name="email" type="email" placeholder="  Enter email"/>
<input class="h2" name="password" type="password" placeholder="  Enter password"/>
    
    <button class="h3" type="submit">sign up</button>
    
    
    </form>
</div>
    
</body>
</html>